.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(220, 229, 226);
  }
  
  .navbar {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar h2 {
    margin: 0;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .main-section {
    display: flex;
    flex: 1;
  }
  
  .left-panel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
  }
  
  .right-panel {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
   
  }
  
  .right-panel img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
    border-radius:10%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  
  }
  
  .button-group {
    margin-top: 24px;
    display: flex;
    gap: 12px;
  }
  